@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
  background-color: var(--primary-color);
}
/* darkmode button */
#icon {
  position: relative;
  top: 7px;
  left: 5px;
  width: 25px;
  line-height: 35px;
  /* border-radius: 50%; */
}
.item4:hover {
  transform: translateY(-2px);
  /* padding-bottom: 10px; */
  border-bottom: 2px solid red;
  cursor: pointer;
}
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #23272e;
  --secondary-color: #fff;
}

/* submenu icon */

ion-icon {
  position: relative;
  top: 3px;
  left: 5px;
}
/* go to top botton */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1d17308a;
  bottom: 30px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  transition: box-shadow 0.5s, background 1s, transform 0.35s, color 1.5s;
}
.gotopbtn:hover {
  transform: translatey(-5px);
  background: #111;
  color: rgb(255, 0, 0);
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* navbar */
.item4 {
  position: fixed;
  left: 75em;
  top: 15px;
  line-height: 35px;
  width: 35px;

  z-index: 2;
}

/* content */
.main-section {
  margin: 0 5em;
}
header {
  font-size: 2em;
  text-align: left;
  text-decoration: underline;
}

.writing {
  padding: 20px;
  margin: 60px 90px;
}

/* mainpage */
#main-doc {
  position: absolute;
  z-index: -1;
  color: var(--secondary-color);
}

section article {
  /* color: #253fd1; */
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

/* nav links and search */

.wrapper {
  z-index: 1;
  background: #111;
  position: fixed;
  width: 100%;
  opacity: 1;
}
.wrapper nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 1;
  opacity: 1;
}
nav .content {
  display: flex;
  align-items: flex-start;
  border-left: 2px solid #15191f;
}
nav .content .links {
  display: flex;
}
.logo a {
  margin: 0 1em;
  color: #fff;
  font-weight: 600;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 35px;
  width: 35px;
  /* top: ; */
  text-align: center;
  position: fixed;
  left: 63em;
  z-index: 2;
}
.wrapper .search-icon:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid red;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: relative;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 40%;
  left: 30em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 40%;
  height: 50%;
  border: none;
  position: relative;
  top: 25.5%;
  /* left: 45em; */
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0px 10px 0 10px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  top: 50%;
  left: 10.3em;
  transform: translateY(-50%);
  line-height: 35px;
  width: 35px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}
.dummy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2 {
  font-size: 45px;
  margin: 5px 0;
}

/* footer */

.footer {
  /* position: sticky;
  top: 100%; */
  position: relative;
  top: 100%;
  background-color: #141518;
  padding: 20px 0;
  z-index: -1;
  margin: none !important;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.border {
  position: relative;
  width: 1.2%;
  border-right: 2px solid gray;
  height: 60px;
  top: 0.9em;
}

.lft-ctrl {
  width: 34em;
  height: 50px;
  color: orange;
  border: 2px solid;
  font-size: 1em;
  transition: box-shadow 0.5s, border-color 1s, transform 0.35s, color 1.5s;
  border-radius: 28px;
  background-color: transparent;
  text-align: left;
  padding: 0em 1em;
}
.rgt-ctrl {
  width: 34em;
  height: 50px;
  color: #ff0059;
  border: 2px solid;
  padding: 0em 1em;
  font-size: 1em;
  transition: box-shadow 0.5s, border-color 1s, transform 0.35s, color 1.5s;
  border-radius: 28px;
  background-color: transparent;
  text-align: right;
}

.rgt-ctrl:hover,
.lft-ctrl:hover {
  border-color: #f1ff5c;
  color: wheat;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}
#nxtbtn {
  margin-left: 5px;
  /* margin-top: 8px; */
}
#prvbtn {
  margin-right: 5px;
  /* margin-top: 8px; */
}

.btn-col {
  width: 49%;
  padding: 20px 15px;
  text-decoration: none;
}
.btn-col:last-child {
  text-align: right;
  width: 49.8%;
}

.footer-col {
  width: 50%;
  padding: 15px 15px;
}
.footer-col:last-child {
  border-left: 2px solid gray;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0em;
  bottom: -10px;
  background-color: #ff0059;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
