<!DOCTYPE html>
<!-- Created By Amarendra Dash -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>documentation</title>
    <link rel="stylesheet" href="stylecopy.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/7cec1eec8f.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="dropdown-btn">Dropdown
            <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-container">
            <a href="#item1" class="top-link">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#item3">Link 3</a>
        </div>
    </div>

    <div class="custom-navbar">
        <div class="openbtn">
            <span style="margin-left: 10px; font-size:30px;cursor:pointer" onclick="openNav()">
                &#9776;
            </span>
        </div>
        <div class="item">
            <a href="#item1">page-name-here</a>
        </div>
        <div class="item1">

            <input type="checkbox" id="show-search">
            <label for="show-search" class="search-icon">
                <i class="fas fa-search"></i>
            </label>
            <form action="#" class="search-box">
                <input type="text" placeholder="Search..." required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </div>
        <div class="item4">
            <img src="./dark theme icon/moon.png" id="icon">
        </div>
    </div>
    <main id="main-doc">
        <div class="writing"><a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>
            <section class="main-section" id="item1">
                <header>item1</header>
                <article>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, tenetur aliquam voluptas totam
                        debitis animi?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sequi excepturi cum
                        neque totam nobis quam ducimus aut? Tempore, tenetur iusto est neque cupiditate, optio enim rem
                        obcaecati, minima fugiat sed. Nobis iure, quis dignissimos similique at necessitatibus autem,
                        possimus sint alias esse, voluptatibus eaque quibusdam unde. Aspernatur, nulla ab.
                    </p>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea tempore repudiandae doloribus cum
                        beatae dignissimos error fugit neque eius magnam?Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Ea consequatur ducimus cum quas deserunt! Sapiente repellendus aut alias quidem, sit iste
                        quisquam sequi in natus totam quis voluptatem tenetur dolorem labore, error vel? Blanditiis
                        beatae,
                        alias eligendi expedita in repellat animi? Quam beatae commodi reiciendis tenetur quas dicta
                        consequatur officiis numquam quisquam, blanditiis minima iure nemo. Molestias neque quasi fugiat
                        quas explicabo ducimus reprehenderit, hic, optio libero, possimus nesciunt ea? Eos est, harum ex
                        laborum cupiditate rerum culpa, fuga reiciendis dolorum dignissimos soluta temporibus, velit
                        aliquam
                        quibusdam. Harum eaque nostrum vel! Sapiente et dolor blanditiis ullam nisi ad ipsum ipsa.
                    </p>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, hic.
                        </li>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, sunt. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Nihil, voluptatibus? Magni, labore culpa. Nihil dolorum
                            sint
                            assumenda officia eos, expedita accusantium praesentium accusamus. Minus eum error enim
                            doloremque consequuntur nulla ipsam obcaecati sequi repudiandae, fuga eligendi reiciendis
                            nobis
                            saepe culpa natus rerum quo inventore praesentium esse assumenda ducimus et. Dolore
                            exercitationem saepe atque voluptatem nisi, vero sed quis ducimus sequi? Id, minus
                            necessitatibus ab corrupti similique, voluptates, saepe temporibus repellendus rerum
                            eligendi
                            praesentium accusantium! Voluptate iure atque perferendis eos libero amet magni maxime
                            placeat.
                            Rerum dolor temporibus atque animi pariatur molestiae quam illo quas at? Repudiandae labore
                            necessitatibus molestiae sunt.
                        </li>
                    </ul>
                </article>
            </section>
            <section class="main-section" id="item2">
                <header>item2</header>
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dicta
                        aperiam itaque illo deserunt autem obcaecati minus distinctio, architecto placeat! Similique
                        quis
                        laborum suscipit debitis quo et voluptate cumque iste, sapiente odit quia, unde accusantium
                        minus,
                        eligendi dolorum autem eos dignissimos architecto doloremque nam facere nulla! Beatae nemo, enim
                        eveniet fuga illo nisi sit error neque, itaque dolorem eos qui eius deserunt culpa, ullam saepe.
                        Animi itaque delectus aperiam dolore cupiditate incidunt magni, quos accusantium ea nostrum
                        expedita
                        possimus blanditiis, nihil neque nemo facere dolores optio a quis placeat ex? Totam temporibus
                        non
                        perferendis maiores eaque illum, quam accusantium incidunt tempora. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Laborum eius ut doloribus natus perspiciatis minus! Rerum sit
                        assumenda dignissimos minus?</p>

                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, qui?Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Rem porro iure expedita harum ratione ullam, laborum
                            reiciendis
                            optio quos vel id quaerat? Fuga aut, debitis maiores cumque tenetur, deserunt ratione
                            incidunt
                            dolores iusto, ad repudiandae alias necessitatibus amet officiis in illum autem vitae.
                            Accusamus
                            obcaecati nostrum neque veritatis illo officiis vero ad. Eum hic iste quo, veritatis
                            quisquam
                            numquam aut illo. Reprehenderit enim placeat sit, velit amet eius excepturi adipisci?
                            Architecto
                            asperiores molestiae quia eius commodi nostrum. Praesentium, enim sit blanditiis accusantium
                            quas sapiente, ipsum natus ipsam eligendi minima commodi quis quaerat nesciunt odio vel
                            necessitatibus ut iure voluptas at. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vitae voluptatum voluptas, in, delectus iusto rerum quibusdam inventore ab, accusantium
                            tempore
                            autem aspernatur explicabo aut. Rem fuga incidunt expedita soluta perspiciatis magni cum
                            facere
                            consequatur sunt, consequuntur ipsam perferendis eveniet repellat hic cupiditate ut eligendi
                            nesciunt autem quam. Deleniti, aspernatur voluptate repellendus veritatis sint libero
                            laboriosam
                            tempora odio ullam quos earum minus doloribus doloremque molestiae sapiente dignissimos
                            repudiandae illum facilis molestias error repellat dolore laudantium! Odio ea reprehenderit
                            vitae enim, reiciendis quos assumenda illum veniam ex, pariatur nesciunt fuga minus non
                            obcaecati labore repellendus sint quo magni rerum sequi, dignissimos minima! Lorem ipsum,
                            dolor
                            sit amet consectetur adipisicing elit. Harum repudiandae sapiente magni corporis veritatis
                            temporibus vel repellendus magnam quaerat ducimus inventore esse non cumque quis, mollitia
                            voluptatum. Accusantium iure soluta alias porro suscipit velit eum amet, blanditiis sunt,
                            voluptates similique adipisci minima cumque libero earum, quaerat placeat autem optio fuga
                            tempore magni! Alias neque laudantium iusto. Saepe reiciendis accusamus eaque vel.
                            Distinctio
                            ipsam, tempore atque sunt quo cupiditate, beatae minima ex, enim impedit cum repellat
                            blanditiis? Dolore aliquam tempore esse quo aut pariatur debitis eligendi veniam commodi,
                            nihil
                            ea explicabo porro eaque optio accusamus unde quidem fugiat reiciendis consequatur. Soluta!

                        </li>
                    </ul>
                </article>
            </section>
            <section class="main-section" id="item3">
                <header>item3</header>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur quos laudantium,
                        dolorum soluta veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, commodi.
                        Totam, dolorum. Quo distinctio aperiam ex consequatur voluptates! Quaerat, laborum explicabo cum
                        rerum culpa minus, neque quos quas ut, magnam exercitationem molestiae eius ea esse fugit
                        maiores
                        corporis aliquam sed et doloremque rem officia sit nulla iure. Modi, debitis. Optio, harum.
                        Explicabo quisquam alias, suscipit veniam tenetur qui labore impedit sit consectetur dignissimos
                        placeat voluptate reiciendis itaque dolorum velit! Ut numquam magni vero earum eligendi quis
                        sequi
                        ducimus sit illo sint optio harum, voluptatem minus consectetur nemo ratione, autem iure
                        incidunt?
                        Provident nostrum, iste dolor numquam perspiciatis sed. Nihil illo tenetur maiores quod,
                        distinctio,
                        numquam earum magnam, nulla fuga itaque tempora unde consectetur id mollitia amet doloribus
                        aliquam
                        accusamus. Ratione laborum perspiciatis neque minima dicta dignissimos eum autem quo commodi
                        placeat
                        praesentium architecto in enim corporis ullam, facere mollitia sapiente esse. In debitis maxime
                        sunt, vel incidunt omnis non consequatur alias exercitationem temporibus dolorum ipsam illum,
                        labore
                        rem, culpa eius obcaecati ea possimus pariatur vitae nesciunt minima modi! Blanditiis et sint
                        ducimus quaerat fuga perferendis delectus harum exercitationem corporis sequi vel voluptas,
                        placeat
                        fugit aspernatur, at in totam. Tenetur eius fuga dignissimos explicabo fugiat id rerum debitis
                        odit
                        excepturi fugit.
                    </p>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, qui?Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Rem porro iure expedita harum ratione ullam, laborum
                            reiciendis
                            optio quos vel id quaerat? Fuga aut, debitis maiores cumque tenetur, deserunt ratione
                            incidunt
                            dolores iusto, ad repudiandae alias necessitatibus amet officiis in illum autem vitae.
                            Accusamus
                            obcaecati nostrum neque veritatis illo officiis vero ad. Eum hic iste quo, veritatis
                            quisquam
                            numquam aut illo. Reprehenderit enim placeat sit, velit amet eius excepturi adipisci?
                            Architecto
                            asperiores molestiae quia eius commodi nostrum. Praesentium, enim sit blanditiis accusantium
                            quas sapiente, ipsum natus ipsam eligendi minima commodi quis quaerat nesciunt odio vel
                            necessitatibus ut iure voluptas at. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vitae voluptatum voluptas, in, delectus iusto rerum quibusdam inventore ab, accusantium
                            tempore
                            autem aspernatur explicabo aut. Rem fuga incidunt expedita soluta perspiciatis magni cum
                            facere
                            consequatur sunt, consequuntur ipsam perferendis eveniet repellat hic cupiditate ut eligendi
                            nesciunt autem quam. Deleniti, aspernatur voluptate repellendus veritatis sint libero
                            laboriosam
                            tempora odio ullam quos earum minus doloribus doloremque molestiae sapiente dignissimos
                            repudiandae illum facilis molestias error repellat dolore laudantium! Odio ea reprehenderit
                            vitae enim, reiciendis quos assumenda illum veniam ex, pariatur nesciunt fuga minus non
                            obcaecati labore repellendus sint quo magni rerum sequi, dignissimos minima! Lorem ipsum,
                            dolor
                            sit amet consectetur adipisicing elit. Harum repudiandae sapiente magni corporis veritatis
                            temporibus vel repellendus magnam quaerat ducimus inventore esse non cumque quis, mollitia
                            voluptatum. Accusantium iure soluta alias porro suscipit velit eum amet, blanditiis sunt,
                            voluptates similique adipisci minima cumque libero earum, quaerat placeat autem optio fuga
                            tempore magni! Alias neque laudantium iusto. Saepe reiciendis accusamus eaque vel.
                            Distinctio
                            ipsam, tempore atque sunt quo cupiditate, beatae minima ex, enim impedit cum repellat
                            blanditiis? Dolore aliquam tempore esse quo aut pariatur debitis eligendi veniam commodi,
                            nihil
                            ea explicabo porro eaque optio accusamus unde quidem fugiat reiciendis consequatur. Soluta!

                        </li>

                    </ul>
                </article>
            </section>
        </div>


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="btn-col">
                        <button class="lft-ctrl"><i class="fa-solid fa-angle-left" id="prvbtn"></i>Previous</button>
                    </div>
                    <div class="border"></div>
                    <div class="btn-col">
                        <button class="rgt-ctrl">next<i class="fa-solid fa-angle-right" id="nxtbtn"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>




    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        // darkmode

        var icon = document.getElementById("icon");

        let localdata = localStorage.getItem("theme");

        if (localdata == "light") {
            icon.src = "./dark theme icon/moon.png";
            document.body.classList.remove("dark-theme");
        }
        else if (localdata == "dark") {
            icon.src = "./dark theme icon/sun.png";
            document.body.classList.add("dark-theme");
        }

        icon.onclick = function () {
            document.body.classList.toggle("dark-theme");
            if (document.body.classList.contains("dark-theme")) {
                icon.src = "./dark theme icon/sun.png"
                localStorage.setItem("theme", "dark");
            } else {
                icon.src = "./dark theme icon/moon.png"
                localStorage.setItem("theme", "light");
            }
        }


    </script>

</body>

</html>